@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Chettan 2', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-section{
  background: url('/kids-4.jpg') no-repeat center fixed;
  background-size: cover;
}
.direction-section{
  background: url('/background.jpg') no-repeat center;
  background-size: cover;
}
.destination-2-section{
  background: url('/kids.jpg') no-repeat center;
  background-size: cover;
}